#title, #about, #events, #projects, #committees, #contact {
	text-align: center;
	font-size: 46px;
}

span, h4, h3, p, .btn-primary {
	color: white;
	font-family: 'VT323';
}

div:not([id="collapsibleNavbar"]) {
	background-color: #0f0332;
}

.carousel-item .container {
	width: 50%;
	text-align: center;
	overflow: hidden;
	font-size: 21px;
}

.carousel-item .container img{
	padding: 1rem;
	object-fit: cover;
	height: 25rem;
}

.carousel-control-prev img, .carousel-control-next img {
	width: 5rem;
	height: 5rem;
}

.bee-block-1.bee-image {
	padding: 3rem;
}

.bee-row-2 img {
	width: 50% !important;
	height: 50% !important;
}

.bee-row-2 img:hover {
	animation: wiggle 2s linear;	
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

#team {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.w3-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.w3-quarter {
	flex-direction: column;
	width: 25%;
	align-items: center;
	display: flex;
	margin-left: 2rem;
	margin-right: 2rem
}

.w3-quarter h3, .w3-quarter p {
	font-family: 'Bungee', cursive;
}

.w3-quarter img {
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

.bee-row,
.bee-row-content {
	position: relative
}

.bee-row-2,
.bee-row-4 .bee-row-content {
	background-position: center top;
	background-repeat: no-repeat
}

.bee-row-1,
.bee-row-10,
.bee-row-11,
.bee-row-12,
.bee-row-13,
.bee-row-14,
.bee-row-15,
.bee-row-16,
.bee-row-17,
.bee-row-18,
.bee-row-2,
.bee-row-3,
.bee-row-4,
.bee-row-4 .bee-row-content,
.bee-row-5,
.bee-row-6,
.bee-row-7,
.bee-row-8,
.bee-row-9 {
	background-repeat: no-repeat
}

body {
	background-color: #0f0332;
	color: #000;
	font-family: Bitter, Georgia, Times, "Times New Roman", serif
}

a {
	color: #0068a5
}

* {
	box-sizing: border-box
}

body,
p {
	margin: 0
}

.bee-row-content {
	max-width: 750px;
	margin: 0 auto;
	display: flex
}

.bee-row-content .bee-col-w3 {
	flex-basis: 25%
}

.bee-row-content .bee-col-w5 {
	flex-basis: 42%
}

.bee-row-content .bee-col-w6 {
	flex-basis: 50%
}

.bee-row-content .bee-col-w7 {
	flex-basis: 58%
}

.bee-row-content .bee-col-w12 {
	flex-basis: 100%
}

.bee-button .content {
	text-align: center
}

.bee-button a,
.bee-icon .bee-icon-label-right a,
.bee-menu ul li a {
	text-decoration: none
}

.bee-divider,
.bee-image {
	overflow: auto
}

.bee-divider .center,
.bee-image .bee-center {
	margin: 0 auto
}

.bee-row-12 .bee-col-1 .bee-block-1,
.bee-row-13 .bee-col-1 .bee-block-1,
.bee-row-2 .bee-col-1 .bee-block-1,
.bee-row-4 .bee-col-1 .bee-block-1 {
	width: 100%
}

.bee-menu ul {
	margin: 0;
	padding: 0
}

.bee-icon {
	display: inline-block;
	vertical-align: middle
}

.bee-icon .bee-content {
	display: flex;
	align-items: center
}

.bee-image img {
	display: block;
	width: 100%
}

.bee-menu ul {
	list-style-type: none
}

.bee-menu ul.bee-horizontal li {
	display: inline-block
}

.bee-social .icon img {
	max-height: 32px
}

.bee-text {
	overflow-wrap: anywhere
}

.bee-row-1 {
	background-color: #fff
}

.bee-row-1 .bee-row-content,
.bee-row-10 .bee-row-content,
.bee-row-11 .bee-row-content,
.bee-row-12 .bee-row-content,
.bee-row-13 .bee-row-content,
.bee-row-14 .bee-row-content,
.bee-row-15 .bee-row-content,
.bee-row-16 .bee-row-content,
.bee-row-17 .bee-row-content,
.bee-row-18 .bee-row-content,
.bee-row-2 .bee-row-content,
.bee-row-3 .bee-row-content,
.bee-row-5 .bee-row-content,
.bee-row-6 .bee-row-content,
.bee-row-7 .bee-row-content,
.bee-row-8 .bee-row-content,
.bee-row-9 .bee-row-content {
	background-repeat: no-repeat;
	color: #000
}

.bee-row-1 .bee-col-1 {
	display: flex;
	flex-direction: column;
	justify-content: center
}

.bee-row-1 .bee-col-1 .bee-block-1 {
	padding-left: 10px;
	padding-right: 10px;
	width: 100%
}

.bee-row-1 .bee-col-2 {
	padding-bottom: 5px;
	padding-top: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center
}

.bee-row-1 .bee-col-2 .bee-block-1 {
	color: #101112;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: normal;
	text-align: center
}

.bee-row-2 .bee-col-1 {
	padding-bottom: 5px;
	padding-top: 15px
}

.bee-row-2 .bee-col-1 .bee-block-2 {
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px
}

.bee-row-2 .bee-col-1 .bee-block-3,
.bee-row-4 .bee-col-2 .bee-block-3,
.bee-row-6 .bee-col-1 .bee-block-5,
.bee-row-7 .bee-col-1 .bee-block-4 {
	padding: 10px
}

.bee-row-14 .bee-col-1 .bee-block-1,
.bee-row-2 .bee-col-1 .bee-block-4,
.bee-row-8 .bee-col-1 .bee-block-1 {
	padding: 15px;
	text-align: center
}

.bee-row-11 .bee-col-1,
.bee-row-12 .bee-col-1,
.bee-row-13 .bee-col-1,
.bee-row-14 .bee-col-1,
.bee-row-15 .bee-col-1,
.bee-row-3 .bee-col-1,
.bee-row-5 .bee-col-1,
.bee-row-8 .bee-col-1,
.bee-row-9 .bee-col-1 {
	padding: 15px
}

.bee-row-11 .bee-col-1 .bee-block-1,
.bee-row-15 .bee-col-1 .bee-block-1,
.bee-row-3 .bee-col-1 .bee-block-1,
.bee-row-5 .bee-col-1 .bee-block-1,
.bee-row-9 .bee-col-1 .bee-block-1 {
	padding: 15px 15px 10px
}

.bee-row-11 .bee-col-1 .bee-block-2,
.bee-row-15 .bee-col-1 .bee-block-2,
.bee-row-3 .bee-col-1 .bee-block-2,
.bee-row-4 .bee-col-2 .bee-block-2,
.bee-row-5 .bee-col-1 .bee-block-2,
.bee-row-9 .bee-col-1 .bee-block-2 {
	padding: 5px 15px;
	width: 100%
}

.bee-row-4 .bee-row-content {
	background-image: url('https://d1oco4z2z1fhwp.cloudfront.net/templates/default/4061/exclusive_bg2.png');
	color: #000
}

.bee-row-4 .bee-col-1 {
	padding: 15px 20px 10px
}

.bee-row-4 .bee-col-2 {
	padding: 25px 20px 40px
}

.bee-row-4 .bee-col-2 .bee-block-1 {
	padding: 15px 15px 5px
}

.bee-row-6 .bee-col-1,
.bee-row-6 .bee-col-2,
.bee-row-7 .bee-col-1 {
	padding-bottom: 5px;
	padding-left: 20px;
	padding-top: 5px
}

.bee-row-12 .bee-col-2 .bee-block-3,
.bee-row-13 .bee-col-2 .bee-block-3,
.bee-row-6 .bee-col-1 .bee-block-1,
.bee-row-6 .bee-col-2 .bee-block-1,
.bee-row-7 .bee-col-1 .bee-block-1,
.bee-row-7 .bee-col-2 .bee-block-1 {
	padding: 10px 10px 5px
}

.bee-row-10 .bee-col-1,
.bee-row-6 .bee-col-1 .bee-block-2,
.bee-row-7 .bee-col-1 .bee-block-2 {
	padding-left: 10px;
	padding-right: 10px
}

.bee-row-17 .bee-col-1 .bee-block-1,
.bee-row-6 .bee-col-1 .bee-block-3,
.bee-row-6 .bee-col-1 .bee-block-4,
.bee-row-7 .bee-col-1 .bee-block-3 {
	padding: 5px 10px
}

.bee-row-12 .bee-col-2 .bee-block-4,
.bee-row-13 .bee-col-2 .bee-block-4,
.bee-row-6 .bee-col-2 .bee-block-2,
.bee-row-7 .bee-col-2 .bee-block-2 {
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px
}

.bee-row-12 .bee-col-2 .bee-block-1,
.bee-row-12 .bee-col-2 .bee-block-2,
.bee-row-12 .bee-col-2 .bee-block-5,
.bee-row-13 .bee-col-2 .bee-block-1,
.bee-row-13 .bee-col-2 .bee-block-2,
.bee-row-13 .bee-col-2 .bee-block-5,
.bee-row-6 .bee-col-2 .bee-block-3 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px
}

.bee-row-6 .bee-col-3 {
	padding: 5px 20px
}

.bee-row-12 .bee-col-2 .bee-block-6,
.bee-row-13 .bee-col-2 .bee-block-6,
.bee-row-6 .bee-col-3 .bee-block-1,
.bee-row-7 .bee-col-3 .bee-block-1 {
	padding: 10px;
	text-align: left
}

.bee-row-7 .bee-col-2 {
	padding-bottom: 5px;
	padding-left: 15px;
	padding-top: 5px
}

.bee-row-7 .bee-col-3 {
	padding: 5px 15px 25px
}

.bee-row-10 .bee-col-1 .bee-block-1 {
	color: #fff;
	font-family: inherit;
	font-size: 14px;
	padding: 10px 15px;
	text-align: left
}

.bee-row-12 .bee-col-2,
.bee-row-13 .bee-col-2 {
	padding: 10px 15px 40px
}

.bee-row-16 .bee-col-1 .bee-block-1 {
	padding: 5px;
	text-align: center
}

.bee-row-17 .bee-col-1,
.bee-row-18 .bee-col-1 {
	padding-bottom: 5px;
	padding-top: 5px
}

.bee-row-18 .bee-col-1 .bee-block-1 {
	color: #9d9d9d;
	font-family: inherit;
	font-size: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center
}

.bee-row-1 .bee-col-2 .bee-block-1 li {
	padding: 5px
}

.bee-row-1 .bee-col-2 .bee-block-1 li a {
	color: #8a3c90
}

@media (max-width:770px) {
	.bee-row-content:not(.no_stack) {
		display: block
	}
}

.bee-row-10 .bee-col-1 .bee-block-1 .bee-icon-image {
	padding: 0 15px 20px 10px
}

.bee-row-10 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content,
.bee-row-18 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content {
	margin-left: 0
}

.bee-row-10 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
	margin-right: 0
}

.bee-row-18 .bee-col-1 .bee-block-1 .bee-icon-image {
	padding: 5px 6px 5px 5px
}

.bee-row-18 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
	margin-right: 0
}

body {
	padding-top: 50px;
}

.navbar {
	background-color: #007aff;
	border: 0;
	font-size: 15px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
}

.navbar li a,
.navbar .navbar-right {
	color: #007aff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
	color: #007aff !important;
	font-weight: bolder;
}

span.fa-chevron-up {
	font-size: 27px;
	color: #007aff;
}

span.fa-chevron-up:hover {
	color: #007aff;
}

.slideanim {
	visibility: hidden;
}

.slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}

.bee-block.bee-block-1.bee-social .icon img {
	width: auto;
	height: auto;
}

.nav-item {
	font-family: 'Bungee', cursive;
}

@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(70%);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

/* TODO: For infinite scrolling tabs */
@keyframes committee-scroll {
	0%{
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

@media screen and (max-width: 768px) {
	.col-sm-4 {
		text-align: center;
		margin: 25px 0;
	}

	.btn-lg {
		width: 100%;
		margin-bottom: 35px;
	}
}

@media screen and (max-width: 480px) {
	.logo {
		font-size: 150px;
	}
}